<div class="nav-bar">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3 title">Settings</div>
            <div class="col-sm-2 center-block">
                <div class="row"><span class="glyphicon glyphicon-piggy-bank"></span></div>
                <div class="row"><a href="#">Account</a></div>
            </div>
            <div class="col-sm-2">
                <div class="row"><span class="glyphicon glyphicon-th"></span></div>
                <div class="row"><a href="#">Categories</a></div>
            </div>
            <div class="col-sm-2">
                <div class="row"><span class="glyphicon glyphicon-gbp"></span></div>
                <div class="row"><a href="#">Currencies</a></div>
            </div>
            <div class="col-sm-2">
                <div class="row"><span class="glyphicon glyphicon-cd"></span></div>
                <div class="row"><a href="#">Security</a></div>
            </div>
        </div>

    </div>

</div>