 body {
    overflow-x: hidden;
 }
 /** http://stackoverflow.com/questions/22920589/bootstrap-3-input-xs-smaller-than-sm#22920590 */
 .input-xs {
  height: 20px;
  padding: 0px 0px;
  font-size: 12px;
  line-height: 1; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #E4E2DC;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 30px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    font-size:large;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 120px;
    font-size: 18px;
    line-height: 60px;
    background: white;
    margin-bottom:30px;
    padding-bottom:30px;
}

.sidebar-nav > .sidebar-brand a {
    color: #FFBB01;
    font-size:x-large;
    font-weight:bold;
}

.sidebar-nav > .sidebar-brand img {
    margin-top:20px;
    width: 84%;
    height: 78%;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #E5C006;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
        background: white;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}